body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
}

main {
	padding: 20px;
}

#education{
    display:flex;
   flex-direction:column;
    background-color:#746857;
    align-items: center;
}
#education h1{
    margin: 60px;
    font-size: 40px;
}
.columns{
    display:grid;
    grid-template-columns:auto auto;
   padding-left:50px;
}
.box{
    height: 200px;
    width: 500px;
    background-color: rgba(255,255,255,0.1);
    border-radius:20px;
    margin: 10px;
    padding: 20px;
   
}
h3{
    color: white;
}
.box h2{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-bottom: 20px;
}
.box p{
    
    color: white;
    font-size:1.1rem;
}

.box:hover{
    transform: scale(.9);
}

.about-me {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding: 20px;
}

.about-me img {
	max-width: 200px;
	margin-right: 200px;
}

.about-me p {
	margin: 0;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

